body {
  font-family: "IBM Plex Sans", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 35px repeat(5, 1fr) 35px 1fr 0.5fr;
  grid-gap: 10px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "nav . main main main main main . sd .";
  /* border: 1px solid purple; */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid pink; */
  position: relative;
  /* top: 100px; */
}

.side-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid pink; */
  position: relative;
  /* top: 100px; */
}

.header-box {
  text-align: left;
}

header {
  grid-area: hd;
  background-color: #445c3c;
}

.navigation {
  grid-area: nav;
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: sd;
}

.navItem {
  margin: 30px;
}

.main-content-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "ft1 ft1 ft1 ft2 ft2 ft2"
    "ft1 ft1 ft1 ft2 ft2 ft2"
    "ft3 ft3 ft4 ft4 ft5 ft5"
    "ft3 ft3 ft4 ft4 ft5 ft5"
    "ft3 ft3 ft4 ft4 ft5 ft5"
    "six six six six six six";
}

.one {
  grid-area: ft1;
}

.two {
  grid-area: ft2;
}

.three {
  grid-area: ft3;
}

.four {
  grid-area: ft4;
}

.five {
  grid-area: ft5;
}

.six {
  grid-area: six;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  margin: 25px;
  background-color: #ecf2dd;
}

.featured-large {
  width: 325px;
  height: 250px;
}

.featured-small {
  width: 200px;
  height: 250px;
}

.post {
  width: 90%;
  height: 150px;
  margin: 15px;
  background-color: #ecf2dd;
}

.logo {
  /* width: 100px; */
  height: 70px;
  margin: 10px;
}

.side-bar-container {
  display: grid;
  grid-template-rows: 300px 300px 1fr;
  grid-template-columns: 200px;
  grid-gap: 10px;
  grid-template-areas:
    "bio"
    "sub"
    ".";
  /* border: 2px solid purple; */
}

.bio {
  grid-area: bio;
  border: 3px solid #ecf2dd;
}

.sub {
  grid-area: sub;
  border: 3px solid #ecf2dd;
}
