@import url("post.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #eee2df;
  background-color: white;
}

/* img {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  display: grid;
  grid-template-columns: 1fr 35px repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "nav . main main main main main .";
  /* border: 1px solid purple; */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid blue; */
}

.nav-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid pink; */
  position: relative;
  /* top: 100px; */
}

.header-box {
  text-align: left;
}

header {
  grid-area: hd;
  background-color: #b36a5e;
  min-height: 100px;
}

.navigation {
  grid-area: nav;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin: 30px;
  align-items: center;
}

.nav-icon {
  height: 55px;
  width: 55px;
}

.nav-text {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  color: #b36a5e;
}

.main-content-container {
  width: 100%;
  margin: 20px auto;
  /* border: solid 2px black; */
  grid-area: main;
}

.posts-container {
  display: flex;
  /* flex-wrap: wrap; */
  /* border: solid 2px green; */
}

.featured-post {
  width: 50%;
  padding: 20px;
}

.featured-inner {
  /* background: #eed7c5; */
  background: #d8cdcb;
  /* border: 2px solid #c97c5d; */
}

.featured-top {
  width: 100%;
  text-align: center;
  /* min-height: 225px; */
  /* padding: 10px;
  padding-bottom: 0px; */
}

.featured-bottom {
  padding: 15px;
}

.featured-category {
  text-transform: uppercase;
  text-align: center;
}

.featured-info {
  padding: 10px;
  /* margin: 10px 0; */
  /* border: 1px dashed #0071bc; */
}

.post-description {
  /* color: #b36a5e; */
  color: #605857;
  font-size: 18px;
}

.post-date {
  /* color: #b36a5e; */
  color: #605857;
  font-size: 18px;
  font-family: "La Belle Aurore", cursive;
  margin-top: 15px;
  /* margin: 0px; */
}

.featured-image {
  width: 200px;
  height: 200px;
  /* border: 2px solid black; */
}

.title {
  color: #b36a5e;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  /* text-align: center; */
}

.recent-post {
  width: 100%;
  padding: 20px;
}

.featured-top-small {
  width: 100%;
  /* min-height: 125px; */
  /* padding: 10px;
  padding-bottom: 0px; */
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
}

.logo-text {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  color: #eee2df;
}

.featured-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "title photo"
    "title photo";
}

.topic-icon {
  width: 60px;
  height: 60px;
}

.topic-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: #c97c5d; */
}

.recent-posts-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* border: solid 2px green; */
}

.post-bottom {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-img {
  width: 140px;
  height: 140px;
}

.topic-label-small {
  font-family: "La Belle Aurore", cursive;
  font-size: 20px;
  color: #eee2df;
  background-color: #b36a5e;
  padding: 0px 15px;
  width: fit-content;
  /* margin-top: 10px; */
}

.post-inner {
  /* background: #eed7c5; */
  /* background: #d8cdcb; */
  /* border: 2px solid #c97c5d; */
}
